

<a href="#" id="edit_user_info_link">Edit</a>

<%= render partial: 'user_info', :locals => { user: @user, links: @links }  %>

<%= render partial: 'user_info_edit', :locals => { user: @user, links: @links } %>


