<div style="text-align: center">
	<span class="horizontal-line"><%= image_tag "line.png" %></span>
	<% links.each do |link| %>
			<div class="col-md-4 col-md-offset-4">
				<% if link.link_type == "normal" %>
					<p><%= link_to link.title.capitalize, link.url, class: "user-link" %></p>
				<% else %>
					<span class="horizontal-line"><%= image_tag "line.png" %></span>
				<% end %>
			</div>
	<% end %>
</div>