<div style="text-align: center">
	<hr width="10%">
	<% links.each do |link| %>
		<% if link.link_type == "normal" %>
			<p><%= link_to link.title.capitalize, link.url, class: "user-link" %></p>
		<% else %>
			<hr width="10%">
		<% end %>
	<% end %>
</div>